@charset "utf-8";

*{
	font-size: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 62.5%;
	line-height: 140%;
	text-align: center;
}
#wrapper {
	font-size: 120%;
}
img {
    border: 0;
}
h1,h2,h3 {
	line-height: 100%;
}

/* float hack --- */
.clearfix:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 1%;
	line-height: 0;
	clear: both;
}
* html .clearfix {	display: inline-block;	}
*:first-child+html .clearfix {	display: inline-block;	}
/* no mac IE \*/
* html .clearfix {	height: 1%;	}
.clearfix {	display: block;	}

.fltL {
	float: left;
}
.fltR {
	float: right;
}

