/* pulldownMenu style */

/* -------------------------------------------------------------------
navTypeLeft 
----------------------------------------------------------------------*/
.navTypeLeft #navigation ul {
	position: relative;
	z-index: 99;
}
.navTypeLeft #navigation ul li {
	float: left;
}
.navTypeLeft #navigation ul li a {
	display: block;
}
.navTypeLeft #navigation ul li:hover {
	position: relative;
}
.navTypeLeft #navigation ul ul {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 100%;
}
.navTypeLeft #navigation ul ul li {
	float: none;
}

/* IE 6 & 7 Needs Inline Block */
.navTypeLeft #navigation ul ul li a {
	width: 100%;
	display: inline-block;
} 

/* -------------------------------------------------------------------
navTypeRight 
----------------------------------------------------------------------*/
.navTypeRight #navigation ul {
	position: relative;
	z-index:99;
}
.navTypeRight #navigation ul li {
	float: right;
}
.navTypeRight #navigation ul li a {
	display: block;
}
.navTypeRight #navigation ul li:hover {
	position: relative;
}
.navTypeRight #navigation ul ul {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: -100%;
}
.navTypeRight #navigation ul ul li {
	float: none;
}

/* IE 6 & 7 Needs Inline Block */
.navTypeRight #navigation ul ul li a {
	width: 100%;
	display: inline-block;
}

/* -------------------------------------------------------------------
navTypeCross
----------------------------------------------------------------------*/
.navTypeCross  #navigation ul {
	position: relative;
	z-index:99;
}
.navTypeCross  #navigation ul li {
	float: left;
}
.navTypeCross  #navigation ul li a {
	display: block;
}
.navTypeCross  #navigation ul li:hover {
	position: relative;
}
.navTypeCross  #navigation ul ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
}
.navTypeCross  #navigation ul ul li {
	float: none;
}

/* IE 6 & 7 Needs Inline Block */
.navTypeCross  #navigation ul ul li a {
	width: 100%;
	display: inline-block;
} 

.navTypeCross  #navigation ul ul ul	{
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 100%;
}
.navTypeCross  #navigation ul ul ul li {
	float: none;
}



